DISCORD_TOKEN=your_discord_bot_token_here
NITRADO_TOKEN=your_nitrado_api_token_here
NITRADO_SERVER_ID=your_nitrado_server_id_here
WEB_API_KEY=your_web_api_key_here
WEB_SECRET_KEY=your_flask_secret_key_here
